body {
  background-color: #7c55ef;
}
#root {
  width: 90vw;
  background-color: rgb(233, 242, 242);
  margin: auto;
  border-radius: 20px;
  padding: 10px;
}
#navbar {
  background-color: rgb(172, 131, 242);
  height: 50px;
  padding: 5px;
  border-radius: 20px;
  display: flex;
}
.profession {
  font-size: larger;
  font-weight: bold;
  margin-top: 18px;
  margin-left: 10px;
  flex-grow: 7;
}
.tabs {
  margin-top: 15px;
  display: flex;
  flex-grow: 1;
}
.tab {
  width: 100px;
  border-radius: 10px;
}
.card {
  display: flex;
  margin: 50px;
}
.intro {
  font-size: 48px;
  font-weight: bold;
  margin: 50px;
  margin-top: 200px;
  flex-grow: 3;
}
.job {
  color: #7c55ef;
}
.profile {
  width: 400px;
  height: 400px;
  border-radius: 30px;
  flex-grow: 2;
}
